@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
    --orange: #EE9430;
    --yellow: #ECC839;
    --red: #2B0E11;
    --black: #15181F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}